<ul class="userList">
    {% for u in users %}

        {% if u.isOnline %}
            {% set status = 'available' %}
        {% else %}
            {% set status = 'off' %}
        {% endif %}

        <li>
            <a href="{{ url('user_profile_show', {'user_id': u.userId}) }}" title="{{ u.fullName }}">
                <img src="{{ asset('images/user_placeholder.gif') }}" alt="">
                                <span class="contactName">
                                    <strong>{{ u.fullName }}</strong>
                                    <i>{{ u.userName }}</i>
                                </span>
                <span class="status_{{ status }}"></span>
                <span class="clear"></span>
            </a>
        </li>
    {% endfor %}
</ul>