{% extends '::base.html.twig' %}

{% block title %} {{ user_id.fullName }} {% endblock %}

{% block content %}

    {% if success is defined and success is not null and success == true %}
        <div class="nNote nSuccess">
            <p>{{ 'action_success'|trans }}</p>
        </div>
    {% endif %}

    {% if success is defined and success is not null and success == false %}
        <div class="nNote nFailure">
            <p>{{ 'action_error'|trans }}</p>
        </div>
    {% endif %}

    <div class="fluid">

        <div class="widget grid6">
            <div class="whead"><h6><span class="icon-user-3"></span>{{ 'user_details'|trans }}</h6>
                <div class="clear"></div>
            </div>

            <div class="body" style="line-height: 28px;">
                <ul>
                    <li>

                        <label><span class="icon-user-2"></span>{{ 'username'|trans }}:</label>
                        {{ user_id.userName }}
                    </li>
                    <li>
                        <label><span class="icon-tag"></span>{{ 'full_name'|trans }}:</label>
                        {{ user_id.fullName }}
                    </li>

                </ul>
            </div>

        </div>

        <div class="widget grid6" style="background: url('{{ asset('images/bg-lock.png') }}') top right no-repeat;">
            <div class="whead"><h6><span class="icon-locked"></span>{{ 'user_permisssions'|trans }}</h6>
                <div class="clear"></div>
            </div>

            <div class="grid12">
                <div class="body" style="padding-top: 25px;">

                <span class="greenBack" style="font-size: 12px;">
                {{ 'role'|trans }}
                    : <strong>{% if user_id.options.is_admin == true %} {{ 'admin'|trans }} {% else %} {{ 'user'|trans }} {% endif %}</strong>
                </span>

                    <ul class="liDone" style="margin-top: 15px;">

                        {% if user_id.options.priv_document_edit == true %}
                            <li>{{ 'priv_document_edit'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_document_delete == true %}
                            <li>{{ 'priv_document_delete'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_contact_edit == true %}
                            <li>{{ 'priv_contact_edit'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_contact_delete == true %}
                            <li>{{ 'priv_contact_delete'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_upload == true %}
                            <li>{{ 'priv_file_upload'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_download == true %}
                            <li>{{ 'priv_file_download'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_delete == true %}
                            <li>{{ 'priv_file_delete'|trans }}</li>
                        {% endif %}

                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="fluid">

        <div class="widget grid12">
            <div class="whead"><h6><span class="icon-list_nested"></span>{{ 'document_list'|trans }}</h6>
                <div class="clear"></div>
            </div>

            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
                <thead>
                <tr>
                    <td style="width: 20px;"></td>
                    {% if app.session.get('document_sort_dir') == 'asc' %}
                        {% set dir = 'desc' %}
                    {% else %}
                        {% set dir = 'asc' %}
                    {% endif %}
                    <td class="curHand" style="border-left: 0;"
                    <a href="{{ path('documents_sort', {'column': 'document.document_subject', 'dir': dir}) }}"
                       class="pastelRed">{{ 'subject'|trans }}</a>
                    </td>
                    <td class="curHand"
                    <a href="{{ path('documents_sort', {'column': 'type.document_type', 'dir': dir}) }}"
                       class="pastelRed">{{ 'type'|trans }}</a>
                    </td>
                    <td class="curHand"
                    <a href="{{ path('documents_sort', {'column': 'category.document_category', 'dir': dir}) }}"
                       class="pastelRed">{{ 'category'|trans }}</a>
                    </td>
                    <td class="curHand"
                    <a href="{{ path('documents_sort', {'column': 'contact.contact_name', 'dir': dir}) }}"
                       class="pastelRed">{{ 'from_contact'|trans }}</a>
                    </td>
                </tr>
                </thead>
                <tbody>

                {% if total > 0 %}

                    {% for l in list %}
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a href="#" class="tablectrl_small bLightBlue" data-toggle="dropdown"><span
                                                class="icon-curved_arrow"
                                                style="margin-right: 1px; line-height: 12px;"></span></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:void(0);" class="a-send-email"
                                               data-document-id="{{ l.document_document_id }}"><span
                                                        class="icos-email"></span>{{ 'send_via_email'|trans }}
                                            </a>
                                        </li>
                                        {% if user_id.options.priv_document_delete == true %}
                                            <li>
                                                <a href="javascript:void(0);"
                                                   onClick="if (confirm('{{ 'are_you_sure'|trans }}')) { location.href = '{{ path('document_delete', {'document_id': l.document_document_id}) }}'; }"><span
                                                            class="icos-trash"></span>{{ 'delete'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            <td style="border-left: 0;" class="curHand">
                                {{ l.document_document_subject }}</td>
                            <td class="curHand">
                                {{ l.type_document_type }}</td>
                            <td class="curHand">
                                {{ l.category_document_category }}</td>
                            <td class="curHand">
                                {{ l.contact_contact_name }}</td>
                        </tr>
                    {% endfor %}

                {% else %}

                    <div style="text-align: center; padding: 20px 0;">{{ 'no_records_found'|trans }}</div>

                {% endif %}

                </tbody>
            </table>

            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info" id="DataTables_Table_0_info">
                    <strong>{{ total }}</strong> {{ 'records_found'|trans }}
                </div>
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    {{ 'go_to_page'|trans }} &nbsp;
                    <select name="select_page" id="select_page">
                        {% for i in 1..pageCount %}
                            {% if i == page %}
                                {% set sel = ' selected="selected" ' %}
                            {% else %}
                                {% set sel = '' %}
                            {% endif %}
                            <option {{ sel }} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').on('click', '.a-send-email', function () {
                var dialog1 = $("#email_dialog").dialog({
                    autoOpen: false,
                    height: 400,
                    width: 630
                });

                var eUrl = '{{ path('compose_email', {'type': 'document', 'entity_id': '000'}) }}';
                dialog1.load(eUrl.replace('000', $(this).data('document-id'))).dialog('open');

            });
        });
    </script>


{% endblock %}