{% extends '::base.html.twig' %}

{% block title %} {{ user_id.fullName }} {% endblock %}

{% block content %}

    {% if success is defined and success is not null and success == true %}
        <div class="nNote nSuccess">
            <p>{{ 'action_success'|trans }}</p>
        </div>
    {% endif %}

    {% if success is defined and success is not null and success == false %}
        <div class="nNote nFailure">
            <p>{{ 'action_error'|trans }}</p>
        </div>
    {% endif %}

    <div class="fluid">

        <div class="widget grid6">
            <div class="whead"><h6><span class="icon-user-3"></span>{{ 'user_details'|trans }}</h6>
                <div class="clear"></div>
            </div>

            <div class="body" style="line-height: 28px;">
                <ul>
                    <li>

                        <label><span class="icon-user-2"></span>{{ 'username'|trans }}:</label>
                        {{ user_id.userName }}
                    </li>
                    <li>
                        <label><span class="icon-tag"></span>{{ 'full_name'|trans }}:</label>
                        {{ user_id.fullName }}
                    </li>

                </ul>
            </div>

        </div>

        <div class="widget grid6" style="background: url('{{ asset('images/bg-lock.png') }}') top right no-repeat;">
            <div class="whead"><h6><span class="icon-locked"></span>{{ 'user_permisssions'|trans }}</h6>
                <div class="clear"></div>
            </div>

            <div class="grid12">
                <div class="body" style="padding-top: 25px;">

                <span class="greenBack" style="font-size: 12px;">
                {{ 'role'|trans }}
                    : <strong>{% if user_id.options.is_admin == true %} {{ 'admin'|trans }} {% else %} {{ 'user'|trans }} {% endif %}</strong>
                </span>

                    <ul class="liDone" style="margin-top: 15px;">

                        {% if user_id.options.priv_document_edit == true %}
                            <li>{{ 'priv_document_edit'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_document_delete == true %}
                            <li>{{ 'priv_document_delete'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_contact_edit == true %}
                            <li>{{ 'priv_contact_edit'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_contact_delete == true %}
                            <li>{{ 'priv_contact_delete'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_upload == true %}
                            <li>{{ 'priv_file_upload'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_download == true %}
                            <li>{{ 'priv_file_download'|trans }}</li>
                        {% endif %}

                        {% if user_id.options.priv_file_delete == true %}
                            <li>{{ 'priv_file_delete'|trans }}</li>
                        {% endif %}

                    </ul>
                </div>
            </div>

        </div>

    </div>

{% endblock %}